
.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
